.card{
    border: 1px solid var(--tg-color-scheme);
    padding: 5px;
    border-radius: 2px;
}

.card__image{
    width: 100%;
    height: 150px;
    background-color: var(--tg-color-scheme);
    margin-bottom: 5px;
}

.card__header{
    color: var(--tg-color-scheme);
    margin-bottom: 5px;
}

.card__description{
    margin-bottom: 10px;
}
